body {
    background-color: rgba(255, 230, 162, 0.699);
  }
  li {
    background-color: rgb(141, 141, 141);
    border-radius: 10px;
    margin-bottom: 18px;
    padding: 10px 140px 10px 15px;
    text-align: left;
    font-size: 22px;
    position: relative;
  }
  i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    width: auto;
    cursor: pointer;
  }
  i:hover {
    color: rgba(0, 204, 204, 0.856);
  }
  